.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.birthday {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  height: fit-content;
  width: 95%;
}

.user {
  display: flex;

}

.birthday-list {
  padding: 0;
  width: 100%;
}

h3 {
  margin: 8px;
}

p {
  margin: 8px;
  color: gray;
}
